@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto auto;
  background-image: url("../public/assets/form-bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
}

.form-div {
  background-color: rgba(0, 0, 0, 0.78);
  padding: 20px;
  margin: auto auto;
  width: fit-content;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 20px;
}
.app-header {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 2px white;
  text-align: center;
}
input {
  padding: 10px;
  margin: 0 0 12px 0;
  border-radius: 10px;
  border: none;
}
form button {
  padding: 10px;
  margin: 18px 0;
  color: black;
  background-color: #89cff0;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
label {
  margin: 5px 0 0 0;
  color: white;
  font-size: 10px;
  font-weight: 500;
}
.btn-89cff0 {
  background: #89cff0 !important;
  color: black !important;
  font-weight: 500 !important;
}

.input-field {
  display: flex;
  flex-direction: column;
}
.switch-auth {
  align-items: center;
  margin: auto auto;
  justify-content: center;
  text-align: center;
}
.switch-auth small {
  color: white;
  margin: 10px 3px 8px 3px;
}
.switch-auth small span {
  color: #89cff0;
  cursor: pointer;
}
a {
  text-decoration: none !important;
  color: black !important;
}

.err {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}
.err small {
  color: red;
  word-wrap: wrap;
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul {
  list-style: none;
  margin-top: 18px;
}
.nav-links ul li {
  color: black;
  font-weight: 500;
}
.user-action {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
}
.user-action .user-name {
  font-weight: 700;
}
.welcome-container {
  height: 100vh;
}
.validation-wrapper {
  display: grid;
  align-self: center;
  padding: 0px;
}
.validation-wrapper div small {
  font-size: 12px;
  word-wrap: nowrap;
}
.font-danger {
  color: hsl(0, 100%, 74%);
}
.font-success {
  color: rgb(85, 255, 7);
}
.welcome .nav-links ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
  }
  .welcome .nav-links-lg {
    display: none;
  }
  .user-action {
    display: none;
  }
  .nav-logo {
    position: fixed;
    top: 10px;
    left: 10px;
  }
  .hamburger {
    background-color: aqua;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .side-bar-wrapper {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 20px 8px 12px rgba(0, 0, 0, 0.5);

    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .side-bar-wrapper .side-bar-close-icon {
    position: fixed;
    top: 2px;
    right: 10px;
    color: red;
    font-size: 1.2rem;
  }
  .mobile-side-screen {
    display: flex;
    flex-direction: column;
    transition: all 3s ease-in-out;
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .app-header {
    font-size: 1.5rem;
  }
  .hamburger {
    display: none;
  }
  .mobile-side-screen {
    display: none;
  }

  .form-container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
  }
  .form-wrapper {
    align-self: center;
  }
  .form-div {
    margin-right: 100px;
  }
  input {
    margin-bottom: 9px;
  }
  .validation-wrapper {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-self: center;
    margin-right: 3.9rem;
    padding: 10px;
  }
  .nav-links-lg ul {
    list-style: none;
    margin-top: 18px;
  }
  .nav-links-lg ul li {
    color: black;
    font-weight: 500;
  }
  .welcome .nav-links-lg ul {
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }
}
