@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");


.form-container {
  padding: 30px 0;
  height: 100vh;
  margin: auto auto;
  background: linear-gradient(
    3deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 90, 9, 1) 41%,
    rgba(0, 206, 255, 1) 100%
  );
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: auto auto;
}
.menu-action {
  margin: 5px 1.5rem;
}

.menu-action button {
  padding: 5px;
  background-color: orange;
  border: 0;
  color: white;
  font-weight: 500;
  font-size: 13px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.app-header {
  font-size: 1.5rem;
  font-weight: Bold;
  word-spacing: 3px;
  color: black;
  text-shadow: 2px 2px 3px white, 2px 2px 3px white, 2px 2px 3px white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input {
  padding: 10px;
  margin: 0 0 5px 0;
}
form button {
  padding: 10px;
  margin: 15px 0;
  color: white;
  background-color: orange;
  border: 0;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
label {
  margin: 5px 0 0 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.welcome-page {
  padding: 15px 10px;
  margin: 15px 30px;
}
.welcome-page h1 {
  font-size: 1.5rem;
  padding: 15px 10px;
  margin: 15px 10px;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.welcome-page p {
  padding: 5px 10px;
  margin: 5px 10px;
  align-self: center;
  justify-self: center;
  font-size: 20px;
}

.welcome-page .log-out {
  padding: 10px;
  background-color: orange;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.welcome-page .skill-list {
  margin: 0 20px;
}

@media only screen and (min-width: 768px) {
  .app-header {
    font-size: 2rem;
  }
  .menu-action button {
    padding: 10px;

    font-size: 1rem;
    font-weight: bold;
  }
  .welcome-page h1 {
    font-size: 2rem;
  }
}